Source: artifex-ghostscript
Section: unknown
Priority: optional
Maintainer: Leonardo Brondani Schenkel <leo@tradeshift.com>
Build-Depends: debhelper (>=9),autotools-dev,cdbs
Standards-Version: 3.9.6
Homepage: https://www.ghostscript.com
Vcs-Git: git://git.ghostscript.com/ghostpdl.git
Vcs-Browser: http://git.ghostscript.com/?p=ghostpdl.git;a=summary

Package: artifex-ghostscript
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ghostscript from Artifex
